.DashboardUIHead{
    font-size: 24px;
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #433BFF;
}
.CarouselAdd{
    font-size: 24px;
    margin-left: auto;
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-weight: bold;
    background-color: #433BFF;
    color: white;
    cursor: pointer;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
}
.CarouselImageTableImage{
    max-height: 100px;
}


.deleteButton{
    background-color: red; 
}



.CarouselAddform{
    background-color: white;
    border: 2px solid blue;
    width: 500px;
    
    position: fixed;
    z-index: 5000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.DashboardUIInput{
    width: 100%;
    height: 25px;
    border-radius: 10px;
}
.DashboardUILabel{
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.DashboardUISectionHeader{
    color: #433BFF;
    font-size: 20px;
    font-weight: bold;
}
.DashboardUIButton{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #2F27CE;
    border: 2px solid #2F27CE;
    box-shadow: 0px 4px 4px rgba(47, 39, 206, 0.25);
    border-radius: 10px;
    padding: 4px 24px 4px 24px;
    cursor: pointer;
}
.DashboardUIButton:hover{
    color: #2F27CE;
    background-color: white;
}
.CarouselForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.NumbersContainer{
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
}
.EmergencyNumberContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.EmergnecySave{
    font-size: 24px;
    
    margin-bottom: 12px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-weight: bold;
    background-color: #433BFF;
    color: white;
    cursor: pointer;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
}
.EmergencyNumberHeader{
    font-size: 20px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.EmergencyNumber{
    font-style: italic;
}